In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# Analysing the Outcome Column

In [9]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non-Diabetic
1 -> Diabetic

In [10]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Separating the given data

In [11]:
X = df.drop(columns="Outcome",axis=1)
Y = df["Outcome"]

In [12]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [13]:
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

# Standardizing the data

In [16]:
scaler = StandardScaler()

standardized_data = scaler.fit_transform(X)
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [17]:
X = standardized_data
Y = df["Outcome"]

# Train-Test Split

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2) 
# stratify evenly splits the data for training and testing

In [19]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

# Training the model

In [20]:
classifier = svm.SVC(kernel="linear")
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

# Model evaluation

In [22]:
X_train_prediction = classifier.predict(X_train)
training_acc = accuracy_score(X_train_prediction,Y_train)
print("Training Accuracy:",training_acc)

X_test_prediction = classifier.predict(X_test)
test_acc = accuracy_score(X_test_prediction,Y_test)
print("Testing Accuracy:",test_acc)

Training Accuracy: 0.7866449511400652
Testing Accuracy: 0.7727272727272727

# Model Prediction

Input Data:-

1,90,62,12,43,27.2,0.58,24 --> 0 
3,90,78,0,0,42.7,0.559,21  --> 0
9,165,88,0,0,30.4,0.302,49 --> 1
1,125,50,40,167,33.3,0.962,28 --> 1

In [31]:
input_data = (1,125,50,40,167,33.3,0.962,28)

# Converting input data into a numpy array
input_data = np.asarray(input_data)

# Reshaping the numpy array to inform the model that only one input and not 768 is being provided
input_data = input_data.reshape(1,-1)

# Standardizing the input data
standardized_input_data = scaler.transform(input_data)

# Prediciting
prediction = classifier.predict(standardized_input_data)

if prediction == 0:
    print("Non-Diabetic")
else:
    print("Diabetic")

Diabetic